/*====================================================
  GENERAL
  ==================================================*/
* {
  box-sizing: border-box; }

.calendar {
  font-family: 'Fira Sans', Arial, sans-serif;
  margin: 50px auto;
  padding: 0;
  width: 590px; }

.calendar ul {
  list-style-type: none; }

.week__days, .week__days li, .month__days, .month__days li, .month__header, .month__header li {
  margin: 0;
  padding: 0; }

/*====================================================
  CALENDAR HEADER
  ==================================================*/
.month__header {
  /* GRID */
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* STYLING */
  background: #fa5051;
  color: white;
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 15px; }

/*====================================================
  CALENDAR CELLS & WEEK CELLS
  ==================================================*/
.month__days, .week__days {
  font-size: 0;
  /*To remove extra space between inline-blocks*/ }

.week__days li, .month__days li {
  display: inline-block;
  width: 14.425%;
  margin: 0;
  padding: 0;
  text-align: center; }

.month__days li {
  padding: 25px 0;
  border: 1px solid #f7f7f7;
  margin-left: -1px;
  margin-bottom: -1px;
  color: #bbc3c8;
  font-size: 24px; }

.month__days li:nth-of-type(7n+1), .week__days li:nth-of-type(7n+1) {
  margin-left: 0; }

.week__days {
  margin-top: 20px; }

.week__days li {
  padding: 5px 0;
  font-size: 18px;
  border: 1px solid #f7f7f7;
  margin-left: -1px;
  text-transform: uppercase;
  color: #fa5051; }

/*====================================================
  SHADOWS & ROUNDED CORNERS
  ==================================================*/
.month__header {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.month {
  border-radius: 15px; }

.month__days li:nth-of-type(29) {
  border-bottom-left-radius: 15px; }

.month__days li:last-child {
  border-bottom-right-radius: 15px; }

.week {
  border-radius: 10px; }

.week__days li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; }

.week__days li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.week, .month {
  box-shadow: 0 0 5px 2px #d2d2d2; }

/*====================================================
  CURRENT DAY
  ==================================================*/
.today.today {
  /*double-selector kung-foo to get the text white*/
  position: relative;
  color: white; }

.today::before {
  content: '';
  background: #fa5051;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 44px;
  width: 44px;
  z-index: -1; }

/*====================================================
  BOOKMARKED DAYS
  ==================================================*/
.event {
  position: relative; }

.event::after {
  content: url(../img/bookmark.png);
  position: absolute;
  right: 1px;
  top: 0;
  z-index: 2; }

/*# sourceMappingURL=main.css.map */
